  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <a href="/animes">Anime List</a>
    <a href="/profiles">👤 <span class="hide">Profile List</span></a>
    <a href="/animes/new">⨁ <span class="hide">Add Anime</span></a>
    <% if (user) { %>
    
      <a href="/auth/logout">
        <button class="btn btn-light btn-lg" type="submit">［→ Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
