<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<section>
  <div class="titleArea ">
    <h1>Anime Collector</h1>
    <div class="card bg-dark text-white">
      <a href="/animes">
        <img src="https://i.imgur.com/d7bXIAW.png" class="card-img imgSplash img-fluid" alt="...">
      
        <div class="card-img-overlay textSplash"><br><br>
          <h2 class="card-title text-center ">Welcome</h2><br>
          <p class="card-text text-center ">May you find a good anime to enjoy</p>
          <h2 class="card-footer text-center "> Click to Enter</h2>
        </div>
      </a>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>
